*.o
*.d
*.exe
*.vgm
*.vgz
*.mus
*.MUS
./*.mml
./*.MML
*.P
*.mid
*.opm
*.wav
*.sf2
*.acd
*.acd-bak
*.sublime-workspace
*.yy.c
*.yy.h
*.tab.c
*.tab.h
sounds/*.txt

data/

mdxstat
vgmtest
vgmdump
mdxdump
mdx2mml
mdx2vgm
pdx2sf2
pdx2wav
mdx2opm

mdxinfo
mdxplay
mml2mdx
mdx2pcm
adpcm-encode
adpcm-decode
pdxinfo
